## Instructions
- Utilisez **SQLAlchemy** pour interagir avec une base de données **PostgreSQL**.
- Assurez-vous que les tables respectent les contraintes de clés étrangères.
- Testez chaque requête avec les données fournies pour vérifier les résultats.


## Installation des prérequis
Exécutez la commande suivante pour installer les bibliothèques nécessaires :
```bash
pip install sqlalchemy psycopg2-binary
```

## Configuration de la base de données
Remplacez la chaîne de connexion dans le code par vos informations PostgreSQL, par exemple :
```python
engine = create_engine('postgresql://user:password@localhost:5432/restaurant_db')
```

# Exercice : Gestion d’un Restaurant avec SQLAlchemy et PostgreSQL

## Contexte
Vous êtes chargé de développer une application de gestion pour un restaurant. L'objectif est de modéliser et interagir avec une base de données pour gérer les plats, les catégories, les commandes et les clients à l'aide de **SQLAlchemy** et **PostgreSQL**. Les tâches incluent la création des tables, l'insertion de données, et l'exécution de requêtes.

Le restaurant souhaite suivre :
- Les **plats** disponibles (nom, prix, description, catégorie).
- Les **commandes** passées par les clients (date, contenu, total).
- Les **clients** (nom, email).
- Les **catégories** de plats (ex. : Entrée, Plat principal, Dessert, Boisson).

Créez une base de données nommée `restaurant_db` dans PostgreSQL avant d'exécuter le code.


## Structure des Tables
Voici la structure enrichie des tables à créer dans PostgreSQL :

- **categories** :
  - `id` (PK, entier)
  - `nom` (varchar, ex. : Entrée, Dessert)

- **plats** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `prix` (décimal)
  - `description` (varchar)
  - `categorie_id` (FK vers categories)

- **clients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `email` (varchar)
  - `telephone` (varchar, nullable)

- **commandes** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `date_commande` (timestamp)
  - `total` (décimal)

- **commande_plats** (table de liaison) :
  - `commande_id` (FK vers commandes)
  - `plat_id` (FK vers plats)
  - `quantite` (entier)

- **ingredients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `cout_unitaire` (décimal)
  - `stock` (décimal, en kg ou unités)
  - `fournisseur_id` (FK vers fournisseurs)

- **fournisseurs** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `contact` (varchar)

- **plat_ingredients** (table de liaison) :
  - `plat_id` (FK vers plats)
  - `ingredient_id` (FK vers ingredients)
  - `quantite_necessaire` (décimal, en kg ou unités par plat)

- **avis** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `plat_id` (FK vers plats)
  - `note` (entier, 1 à 5)
  - `commentaire` (text, nullable)
  - `date_avis` (timestamp)

## Données à insérer
Insérez les données suivantes pour tester les requêtes. Les données sont diversifiées pour inclure des variations réalistes.

### categories

| id | nom            |
|----|----------------|
| 1  | Entrée         |
| 2  | Plat principal |
| 3  | Dessert        |
| 4  | Boisson        |
| 5  | Végétarien     |

### plats
| id | nom                 | prix  | description                     | categorie_id |
|----|---------------------|-------|---------------------------------|--------------|
| 1  | Salade César        | 45.00 | Salade avec poulet grillé       | 1            |
| 2  | Soupe de légumes    | 30.00 | Soupe chaude de saison          | 1            |
| 3  | Steak frites        | 90.00 | Viande grillée et frites        | 2            |
| 4  | Pizza Margherita    | 70.00 | Pizza tomate & mozzarella       | 2            |
| 5  | Tiramisu            | 35.00 | Dessert italien                 | 3            |
| 6  | Glace 2 boules      | 25.00 | Glace au choix                  | 3            |
| 7  | Coca-Cola           | 15.00 | Boisson gazeuse                 | 4            |
| 8  | Eau minérale        | 10.00 | Eau plate ou gazeuse            | 4            |
| 9  | Curry de légumes    | 65.00 | Plat végétarien épicé           | 5            |
| 10 | Falafel wrap        | 50.00 | Wrap avec falafels et légumes   | 5            |

### clients
| id | nom                | email                  | telephone      |
|----|--------------------|------------------------|----------------|
| 1  | Amine Lahmidi      | amine@example.com      | +212600123456  |
| 2  | Sara Benali        | sara.b@example.com     | +212600654321  |
| 3  | Youssef El Khalfi  | youssef.k@example.com  | NULL           |
| 4  | Fatima Zahra       | fatima.z@example.com   | +212600987654  |
| 5  | Omar Alaoui        | omar.a@example.com     | +212600112233  |

### commandes
| id | client_id | date_commande         | total  |
|----|-----------|-----------------------|--------|
| 1  | 1         | 2025-07-07 12:30:00   | 120.00 |
| 2  | 2         | 2025-07-07 13:00:00   | 85.00  |
| 3  | 1         | 2025-07-08 19:45:00   | 150.00 |
| 4  | 3         | 2025-08-15 18:30:00   | 200.00 |
| 5  | 4         | 2025-09-01 20:00:00   | 95.00  |
| 6  | 5         | 2025-09-10 12:15:00   | 75.00  |

### commande_plats
| commande_id | plat_id | quantite |
|-------------|---------|----------|
| 1           | 1       | 1        |
| 1           | 3       | 1        |
| 1           | 7       | 2        |
| 2           | 2       | 1        |
| 2           | 4       | 1        |
| 2           | 8       | 1        |
| 3           | 3       | 1        |
| 3           | 5       | 1        |
| 3           | 7       | 1        |
| 4           | 4       | 2        |
| 4           | 9       | 1        |
| 5           | 10      | 1        |
| 5           | 8       | 2        |
| 6           | 7       | 3        |
| 6           | 6       | 1        |

### fournisseurs
| id | nom                | contact                |
|----|--------------------|------------------------|
| 1  | AgriFresh          | contact@agrifresh.com  |
| 2  | MeatSupplier       | info@meatsupplier.com  |
| 3  | BevCo              | sales@bevco.com        |
| 4  | DairyFarm          | dairy@farm.com         |

### ingredients
| id | nom                | cout_unitaire | stock | fournisseur_id |
|----|--------------------|---------------|-------|---------------|
| 1  | Poulet             | 15.00         | 50    | 2             |
| 2  | Laitue             | 5.00          | 20    | 1             |
| 3  | Tomate             | 3.00          | 30    | 1             |
| 4  | Mozzarella         | 10.00         | 15    | 4             |
| 5  | Pomme de terre     | 2.00          | 100   | 1             |
| 6  | Café               | 20.00         | 5.    | 3             |
| 7  | Sucre              | 1.50          | 25    | 3             |
| 8  | Pois chiches       | 4.00          | 40    | 1             |

### plat_ingredients
| plat_id | ingredient_id | quantite_necessaire |
|---------|---------------|---------------------|
| 1       | 1             | 0.2                 |
| 1       | 2             | 0.1                 |
| 2       | 2             | 0.05                |
| 2       | 5             | 0.1                 |
| 3       | 1             | 0.3                 |
| 3       | 5             | 0.2                 |
| 4       | 3             | 0.1                 |
| 4       | 4             | 0.15                |
| 5       | 6             | 0.05                |
| 5       | 7             | 0.02                |
| 9       | 8             | 0.1                 |
| 10      | 8             | 0.15                |

### avis
| id | client_id | plat_id | note | commentaire                       | date_avis           |
|----|-----------|---------|------|----------------------------------|---------------------|
| 1  | 1         | 1       | 4    | Très frais, poulet bien cuit     | 2025-07-07 13:00:00 |
| 2  | 2         | 4       | 5    | Meilleure pizza du coin !        | 2025-07-07 14:00:00 |
| 3  | 3         | 9       | 3    | Un peu trop épicé                | 2025-08-15 19:00:00 |
| 4  | 4         | 10      | 4    | Bon, mais manque de sauce        | 2025-09-01 21:00:00 |
| 5  | 5         | 6       | 5    | Glace délicieuse                 | 2025-09-10 13:00:00 |

## Requêtes à réaliser
Créez un programme Python utilisant **SQLAlchemy** pour effectuer les tâches suivantes :

1. Créer les tables dans PostgreSQL en utilisant SQLAlchemy.
2. Insérer les données fournies ci-dessus.
3. Lister tous les plats triés par prix décroissant.
4. Lister tous les plats dont le prix est compris entre 30 et 80.
5. Afficher les clients dont le nom commence par "S" ou "F".
6. Afficher les plats avec leur nom de catégorie et le nom du fournisseur principal (via l'ingrédient le plus utilisé).
7. Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.
8. Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.
9. Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.
10. Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.
11. Afficher le nombre de commandes par client, trié par ordre décroissant.
12. Afficher les clients ayant passé plus de deux commandes.
13. Lister les plats commandés plus de trois fois avec leur total de quantités et leur note moyenne (via avis).
14. Lister les commandes du troisième trimestre 2025 (juillet à septembre).
15. Afficher la commande la plus récente avec le nom du client et les plats commandés.
16. Afficher les clients ayant passé une commande d’un montant supérieur à 150, avec leur numéro de téléphone.
17. Afficher les plats dont le coût total des ingrédients est supérieur à 50% du prix du plat.
18. Ajouter un nouveau plat dans la catégorie "Végétarien" avec deux ingrédients.
19. Supprimer le client "Youssef El Khalfi", ses commandes, et ses avis.
20. Afficher pour chaque client :
    - Son nom
    - Le nombre total de plats commandés
    - Le montant total dépensé
    - La note moyenne de leurs avis
21. Lister les 3 plats les plus commandés (par quantité totale) avec leur catégorie.
22. Afficher les clients et leurs dernières commandes, incluant les plats commandés.
23. Créer une vue virtuelle (SELECT) qui affiche :
    - Le nom du client
    - Les plats commandés
    - Les quantités
    - La date de la commande
    - La note moyenne du plat (via avis)
24. Afficher les fournisseurs dont les ingrédients sont en stock inférieur à 10 unités, avec le coût total des ingrédients en stock.

In [2]:
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float, \
    ForeignKey, TIMESTAMP, Text, SmallInteger, CheckConstraint, desc, or_
from datetime import datetime

engine = create_engine('postgresql://postgres:123456789@localhost:5432/restaurant_db')

# 1. Créer les tables dans PostgreSQL en utilisant SQLAlchemy.

metadata = MetaData()

categories = Table(
    'categories', 
    metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('nom', String),
)

plats = Table(
    'plats', 
    metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('nom', String, nullable=False),
    Column('prix', Float, nullable=False),
    Column('description', String, nullable=False),
    Column('categorie_id', Integer, ForeignKey("categories.id", ondelete="CASCADE", onupdate="CASCADE"))
)

clients = Table(
    'clients', 
    metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('nom', String, nullable=False),
    Column('email', String, nullable=False),
    Column('telephone', String),
)

commandes = Table(
    'commandes', 
    metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('client_id', Integer, ForeignKey("clients.id", ondelete="CASCADE", onupdate="CASCADE")),
    Column('date_commande', TIMESTAMP, nullable=False, default=datetime.now()),
    Column('total', Float),
)

commande_plats = Table(
    'commande_plats', 
    metadata,
    Column('commande_id', ForeignKey("commandes.id", ondelete="CASCADE", onupdate="CASCADE")),
    Column('plat_id', ForeignKey("plats.id", ondelete="CASCADE", onupdate="CASCADE")),
    Column('quantite', Integer, nullable=False),
)

ingredients = Table(
    'ingredients', 
    metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('nom', String, nullable=False),
    Column('cout_unitaire', Float, nullable=False),
    Column('stock', Float, nullable=False),
    Column('fournisseur_id', Integer, ForeignKey('fournisseurs.id', ondelete="CASCADE", onupdate="CASCADE")),
)

fournisseurs = Table(
    'fournisseurs', 
    metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('nom', String, nullable=False),
    Column('contact', String, nullable=False),
)

plat_ingredients = Table(
    'plat_ingredients', 
    metadata,
    Column('plat_id', Integer, ForeignKey('plats.id', ondelete="CASCADE", onupdate="CASCADE")),
    Column('ingredient_id', Integer, ForeignKey('ingredients.id', ondelete="CASCADE", onupdate="CASCADE")),
    Column('quantite_necessaire', Float, nullable=False),
)

avis = Table(
    'avis', 
    metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('client_id', Integer, ForeignKey('clients.id', ondelete="CASCADE", onupdate="CASCADE")),
    Column('plat_id', Integer, ForeignKey('plats.id', ondelete="CASCADE", onupdate="CASCADE")),
    Column('note', SmallInteger, nullable=False),
    Column('commentaire', Text),
    Column('date_avis', TIMESTAMP, default=datetime.now()),
    CheckConstraint("note >= 1 AND note <= 5", name="note_interval")
)

metadata.create_all(engine)

print('\n---\n')

---

In [ ]:

# 2. Insérer les données fournies ci-dessus.

with engine.begin() as conn:

    categories_values = [
        {"id": 1, "nom": "Yoo"},
        {"id": 2, "nom": "Plat principal"},
        {"id": 3, "nom": "Dessert"},
        {"id": 4, "nom": "Boisson"},
        {"id": 5, "nom": "Végétarien"},
    ]

    plats_values = [
        {"id": 1, "nom": "Salade César", "prix": 45, "description": "Salade avec poulet grillé", "categorie_id": 1},
        {"id": 2, "nom": "Soupe de légumes", "prix": 30, "description": "Soupe chaude de saison", "categorie_id": 1},
        {"id": 3, "nom": "Steak frites", "prix": 90, "description": "Viande grillée et frites", "categorie_id": 2},
        {"id": 4, "nom": "Pizza Margherita", "prix": 70, "description": "Pizza tomate & mozzarella", "categorie_id": 2},
        {"id": 5, "nom": "Tiramisu", "prix": 35, "description": "Dessert italien", "categorie_id": 3},
        {"id": 6, "nom": "Glace 2 boules", "prix": 25, "description": "Glace au choix", "categorie_id": 3},
        {"id": 7, "nom": "Coca-Cola", "prix": 15, "description": "Boisson gazeuse", "categorie_id": 4},
        {"id": 8, "nom": "Eau minérale", "prix": 10, "description": "Eau plate ou gazeuse", "categorie_id": 4},
        {"id": 9, "nom": "Curry de légumes", "prix": 65, "description": "Plat végétarien épicé", "categorie_id": 5},
        {"id": 10, "nom": "Falafel wrap", "prix": 50, "description": "Wrap avec falafels et légumes", "categorie_id": 5}
    ]

    clients_values = [
        {"id": 1, "nom": "Amine Lahmidi", "email": "amine@example.com", "telephone": "+212600123456"},
        {"id": 2, "nom": "Sara Benali", "email": "sara.b@example.com", "telephone": "+212600654321"},
        {"id": 3, "nom": "Youssef El Khalfi", "email": "youssef.k@example.com", "telephone": None},
        {"id": 4, "nom": "Fatima Zahra", "email": "fatima.z@example.com", "telephone": "+212600987654"},
        {"id": 5, "nom": "Omar Alaoui", "email": "omar.a@example.com", "telephone": "+212600112233"}
    ]

    commande_values = [
        {"id": 1, "client_id": 1, "date_commande": "2025-07-07 12:30:00", "total": 120.00},
        {"id": 2, "client_id": 2, "date_commande": "2025-07-07 13:00:00", "total": 85.00},
        {"id": 3, "client_id": 1, "date_commande": "2025-07-08 19:45:00", "total": 150.00},
        {"id": 4, "client_id": 3, "date_commande": "2025-08-15 18:30:00", "total": 200.00},
        {"id": 5, "client_id": 4, "date_commande": "2025-09-01 20:00:00", "total": 95.00},
        {"id": 6, "client_id": 5, "date_commande": "2025-09-10 12:15:00", "total": 75.00}
    ]

    commande_plats_values = [
        {"commande_id": 1, "plat_id": 1, "quantite": 1},
        {"commande_id": 1, "plat_id": 3, "quantite": 1},
        {"commande_id": 1, "plat_id": 7, "quantite": 2},
        {"commande_id": 2, "plat_id": 2, "quantite": 1},
        {"commande_id": 2, "plat_id": 4, "quantite": 1},
        {"commande_id": 2, "plat_id": 8, "quantite": 1},
        {"commande_id": 3, "plat_id": 3, "quantite": 1},
        {"commande_id": 3, "plat_id": 5, "quantite": 1},
        {"commande_id": 3, "plat_id": 7, "quantite": 1},
        {"commande_id": 4, "plat_id": 4, "quantite": 2},
        {"commande_id": 4, "plat_id": 9, "quantite": 1},
        {"commande_id": 5, "plat_id": 10, "quantite": 1},
        {"commande_id": 5, "plat_id": 8, "quantite": 2},
        {"commande_id": 6, "plat_id": 7, "quantite": 3},
        {"commande_id": 6, "plat_id": 6, "quantite": 1}
    ]

    fournisseurs_values = [
        {"id": 1, "nom": "AgriFresh", "contact": "contact@agrifresh.com"},
        {"id": 2, "nom": "MeatSupplier", "contact": "info@meatsupplier.com"},
        {"id": 3, "nom": "BevCo", "contact": "sales@bevco.com"},
        {"id": 4, "nom": "DairyFarm", "contact": "dairy@farm.com"}
    ]

    ingredients_values = [
        {"id": 1, "nom": "Poulet", "cout_unitaire": 15.00, "stock": 50, "fournisseur_id": 2},
        {"id": 2, "nom": "Laitue", "cout_unitaire": 5.00, "stock": 20, "fournisseur_id": 1},
        {"id": 3, "nom": "Tomate", "cout_unitaire": 3.00, "stock": 30, "fournisseur_id": 1},
        {"id": 4, "nom": "Mozzarella", "cout_unitaire": 10.00, "stock": 15, "fournisseur_id": 4},
        {"id": 5, "nom": "Pomme de terre", "cout_unitaire": 2.00, "stock": 100, "fournisseur_id": 1},
        {"id": 6, "nom": "Café", "cout_unitaire": 20.00, "stock": 5, "fournisseur_id": 3},
        {"id": 7, "nom": "Sucre", "cout_unitaire": 1.50, "stock": 25, "fournisseur_id": 3},
        {"id": 8, "nom": "Pois chiches", "cout_unitaire": 4.00, "stock": 40, "fournisseur_id": 1}
    ]

    plat_ingredients_values = [
        {"plat_id": 1, "ingredient_id": 1, "quantite_necessaire": 0.2},
        {"plat_id": 1, "ingredient_id": 2, "quantite_necessaire": 0.1},
        {"plat_id": 2, "ingredient_id": 2, "quantite_necessaire": 0.05},
        {"plat_id": 2, "ingredient_id": 5, "quantite_necessaire": 0.1},
        {"plat_id": 3, "ingredient_id": 1, "quantite_necessaire": 0.3},
        {"plat_id": 3, "ingredient_id": 5, "quantite_necessaire": 0.2},
        {"plat_id": 4, "ingredient_id": 3, "quantite_necessaire": 0.1},
        {"plat_id": 4, "ingredient_id": 4, "quantite_necessaire": 0.15},
        {"plat_id": 5, "ingredient_id": 6, "quantite_necessaire": 0.05},
        {"plat_id": 5, "ingredient_id": 7, "quantite_necessaire": 0.02},
        {"plat_id": 9, "ingredient_id": 8, "quantite_necessaire": 0.1},
        {"plat_id": 10, "ingredient_id": 8, "quantite_necessaire": 0.15}
    ]

    avis_values = [
        {"id": 1, "client_id": 1, "plat_id": 1, "note": 4, "commentaire": "Très frais, poulet bien cuit", "date_avis": "2025-07-07 13:00:00"},
        {"id": 2, "client_id": 2, "plat_id": 4, "note": 5, "commentaire": "Meilleure pizza du coin !", "date_avis": "2025-07-07 14:00:00"},
        {"id": 3, "client_id": 3, "plat_id": 9, "note": 3, "commentaire": "Un peu trop épicé", "date_avis": "2025-08-15 19:00:00"},
        {"id": 4, "client_id": 4, "plat_id": 10, "note": 4, "commentaire": "Bon, mais manque de sauce", "date_avis": "2025-09-01 21:00:00"},
        {"id": 5, "client_id": 5, "plat_id": 6, "note": 5, "commentaire": "Glace délicieuse", "date_avis": "2025-09-10 13:00:00"}
    ]

    conn.execute(categories.insert(), categories_values)
    conn.execute(plats.insert(), plats_values)
    conn.execute(clients.insert(), clients_values)
    conn.execute(commandes.insert(), commande_values)
    conn.execute(commande_plats.insert(), commande_plats_values)
    conn.execute(fournisseurs.insert(), fournisseurs_values)
    conn.execute(ingredients.insert(), ingredients_values)
    conn.execute(plat_ingredients.insert(), plat_ingredients_values)
    conn.execute(avis.insert(), avis_values)

In [ ]:

# 3. Lister tous les plats triés par prix décroissant.

with engine.begin() as conn:

    result = conn.execute(plats.select().order_by(desc('prix')))

    for row in result:
        print(f"{row[0] :02d}  -  {row[1] :25s}  -  {row[2] :0.2f}  -  {row[3] :35s}  -  {row[4]}")

print('\n---\n')

# 4. Lister tous les plats dont le prix est compris entre 30 et 80.

with engine.begin() as conn:

    result = conn.execute(plats.select().where(plats.c.prix.between(30, 80)))

    for row in result:
        print(f"{row[0] :02d}  -  {row[1] :25s}  -  {row[2] :0.2f}  -  {row[3] :35s}  -  {row[4]}")

In [ ]:

# 5. Afficher les clients dont le nom commence par "S" ou "F".

with engine.begin() as conn:

    result = conn.execute(clients.select().where(or_(clients.c.nom.startswith("S"), clients.c.nom.startswith("F"))))

    for row in result:
        print(f"{row[0] :02d}  -  {row[1] :30s}  -  {row[2] :30s}  -  {row[3] :30s}")

In [ ]:

from sqlalchemy import select, func

# 6. Afficher les plats avec leur nom de catégorie et le nom du fournisseur principal (via l'ingrédient le plus utilisé).

with engine.begin() as conn:

    stmt = select(
        plats.c.nom,
        categories.c.nom,
        fournisseurs.c.nom
    ).select_from(
        plats.join(categories, plats.c.categorie_id == categories.c.id).join(
            plat_ingredients, plat_ingredients.c.plat_id == plats.c.id
        ).join(
            ingredients, ingredients.c.id == plat_ingredients.c.ingredient_id
        ).join(
            fournisseurs, fournisseurs.c.id == ingredients.c.fournisseur_id
        )
    ).group_by(plats.c.nom, categories.c.nom, fournisseurs.c.nom, plat_ingredients.c.quantite_necessaire).having(
        plat_ingredients.c.quantite_necessaire == func.max(plat_ingredients.c.quantite_necessaire)
    )

    result = conn.execute(stmt)

    for row in result:
        print(row)

('Curry de légumes', 'Végétarien', 'AgriFresh')
('Salade César', 'Yoo', 'MeatSupplier')
('Falafel wrap', 'Végétarien', 'AgriFresh')
('Pizza Margherita', 'Plat principal', 'DairyFarm')
('Salade César', 'Yoo', 'AgriFresh')
('Pizza Margherita', 'Plat principal', 'AgriFresh')
('Soupe de légumes', 'Yoo', 'AgriFresh')
('Steak frites', 'Plat principal', 'AgriFresh')
('Steak frites', 'Plat principal', 'MeatSupplier')
('Tiramisu', 'Dessert', 'BevCo')
('Soupe de légumes', 'Yoo', 'AgriFresh')
('Tiramisu', 'Dessert', 'BevCo')

In [ ]:
# 7. Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.

with engine.connect() as conn:
    result = conn.execute(select(
        commandes.c.id,
        clients.c.nom,
        commandes.c.date_commande,
        func.sum(commande_plats.c.quantite)
    ).select_from(
        clients.join(
            commandes, commandes.c.client_id == clients.c.id
        ).join(
            commande_plats, commande_plats.c.commande_id == commandes.c.id
        )
    ).group_by(commandes.c.id, commandes.c.date_commande, clients.c.nom))

    for row in result:
        print(f"{row[0] :02d}  -  {row[1] :20s}  -  {datetime.strftime(row[2], '%Y-%m-%d %H:%M:%S') :30s}  -  {row[3] :d}")

04  -  Youssef El Khalfi     -  2025-08-15 18:30:00             -  3
03  -  Amine Lahmidi         -  2025-07-08 19:45:00             -  3
01  -  Amine Lahmidi         -  2025-07-07 12:30:00             -  4
02  -  Sara Benali           -  2025-07-07 13:00:00             -  3
06  -  Omar Alaoui           -  2025-09-10 12:15:00             -  4
05  -  Fatima Zahra          -  2025-09-01 20:00:00             -  3

In [ ]:
# 8. Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.

with engine.connect() as conn:
    result = conn.execute(select(
        commandes.c.id,
        plats.c.nom,
        commande_plats.c.quantite,
        func.sum(ingredients.c.cout_unitaire * plat_ingredients.c.quantite_necessaire)
    ).select_from(
        commandes.join(
            commande_plats, commande_plats.c.commande_id == commandes.c.id
        ).join(
            plats, plats.c.id == commande_plats.c.plat_id
        ).join(plat_ingredients, plat_ingredients.c.plat_id == plats.c.id).join(
            ingredients, ingredients.c.id == plat_ingredients.c.ingredient_id
        )
    ).group_by(commandes.c.id, plats.c.nom, commande_plats.c.quantite))

    print(f"id  -  {"Nom de plat" :20s}  -  T  -  {"Prix total"}\n")
    for row in result:
        print(f"{row[0] :02d}  -  {row[1] :20s}  -  {row[2]}  -  {row[3]}")

id  -  Nom de plat           -  T  -  Prix total

05  -  Falafel wrap          -  1  -  0.6
04  -  Pizza Margherita      -  2  -  1.8
02  -  Pizza Margherita      -  1  -  1.8
03  -  Steak frites          -  1  -  4.9
04  -  Curry de légumes      -  1  -  0.4
02  -  Soupe de légumes      -  1  -  0.45
01  -  Steak frites          -  1  -  4.9
01  -  Salade César          -  1  -  3.5
03  -  Tiramisu              -  1  -  1.03

In [159]:
# 9. Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.

with engine.connect() as conn:
    result = conn.execute(select(
        categories.c.nom,
        func.count(plats.c.id)
    ).select_from(
        categories.outerjoin(
            plats, plats.c.categorie_id == categories.c.id
        )
    ).group_by(categories.c.nom).order_by(desc(func.count(plats.c.id))))

    for row in result:
        print(f"{row[0] :30s}  -  {row[1]}")

Boisson                         -  2
Plat principal                  -  2
Végétarien                      -  2
Yoo                             -  2
Dessert                         -  2
Test                            -  0

In [ ]:
# 10. Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.

with engine.connect() as conn:

    subq = (select(
            categories.c.id,
            categories.c.nom,
            func.avg(plats.c.prix).label('total_plates')
        ).select_from(
            categories.join(plats, plats.c.categorie_id == categories.c.id)
        ).group_by(categories.c.id, categories.c.nom).alias("subq"))

    result = conn.execute(select(
        subq.c.nom,
        subq.c.total_plates,
        plats.c.nom,
        func.avg(plat_ingredients.c.quantite_necessaire * ingredients.c.cout_unitaire)
    ).select_from(
        plats.join(plat_ingredients, plat_ingredients.c.plat_id == plats.c.id)
        .join(ingredients, ingredients.c.id == plat_ingredients.c.ingredient_id)
        .join(subq, subq.c.id == plats.c.categorie_id)
    ).group_by(plats.c.nom, subq.c.nom, subq.c.total_plates).order_by(subq.c.total_plates))

    for row in result:
        print(f"{row[0] :30s}  -  {row[1] :2.2f}  -  {row[2] :30s}  -  {row[3]}")

Dessert                         -  30.00  -  Tiramisu                        -  0.515
Yoo                             -  37.50  -  Salade César                    -  1.75
Yoo                             -  37.50  -  Soupe de légumes                -  0.225
Végétarien                      -  57.50  -  Curry de légumes                -  0.4
Végétarien                      -  57.50  -  Falafel wrap                    -  0.6
Plat principal                  -  80.00  -  Pizza Margherita                -  0.9
Plat principal                  -  80.00  -  Steak frites                    -  2.45

In [ ]:
# 11. Afficher le nombre de commandes par client, trié par ordre décroissant.

with engine.begin() as conn:
    result = conn.execute(
        select(
            clients.c.id,
            clients.c.nom,
            func.count(commandes.c.id).label('total_commandes')
        ).select_from(
            clients.outerjoin(commandes, commandes.c.client_id == clients.c.id)
        ).group_by(clients.c.id, clients.c.nom).order_by(desc("total_commandes"))
    )

    print(f"{"ID"}  -  {"Nom" :30s}  -  Commande(s)\n")
    for row in result:
        print(f"{row[0] :02d}  -  {row[1] :30s}  -  {row[2]}")

ID  -  Nom                             -  Commande(s)

01  -  Amine Lahmidi                   -  2
04  -  Fatima Zahra                    -  1
02  -  Sara Benali                     -  1
03  -  Youssef El Khalfi               -  1
05  -  Omar Alaoui                     -  1

In [197]:
# 12. Afficher les clients ayant passé plus de deux commandes.

with engine.begin() as conn:
    result = conn.execute(
        select(
            clients.c.id,
            clients.c.nom,
            func.count(commandes.c.id)
        ).select_from(
            clients.join(commandes, commandes.c.client_id == clients.c.id)
        ).group_by(clients.c.id, clients.c.nom).having(func.count(commandes.c.id) > 1)
    )

    print(f"{"ID"}  -  {"Nom" :30s}  -  Commande(s)\n")
    for row in result:
        print(f"{row[0] :02d}  -  {row[1] :30s}  -  {row[2]}")

ID  -  Nom                             -  Commande(s)

01  -  Amine Lahmidi                   -  2

In [ ]:
# 13. Lister les plats commandés plus de trois fois avec leur total de quantités et leur note moyenne (via avis).

from sqlalchemy import case

with engine.begin() as conn:
    result = conn.execute(
        select(
            plats.c.nom,
            func.avg(commande_plats.c.quantite),
            case(
                (avis.c.note.isnot(None), func.avg(avis.c.note)),
                else_ = "0"
            ).label("Avis"),
            func.count(commande_plats.c.plat_id),
        ).select_from(
            plats.join(commande_plats, commande_plats.c.plat_id == plats.c.id)
            .outerjoin(avis, avis.c.plat_id == plats.c.id)
        ).group_by(plats.c.nom, avis.c.note).having(func.count(commande_plats.c.plat_id) >= 2)
    )

    for row in result:
        print(f"{row[0] :25s}  -  {row[1] :1.2f}  -  {row[2] :1.2f}  -  {row[3]}")

Steak frites               -  1.00  -  0.00  -  2
Pizza Margherita           -  1.50  -  5.00  -  2
Coca-Cola                  -  2.00  -  0.00  -  3
Eau minérale               -  1.50  -  0.00  -  2

In [8]:

# 14. Lister les commandes du troisième trimestre 2025 (juillet à septembre).

from sqlalchemy import select

from sqlalchemy import case

with engine.begin() as conn:
    result = conn.execute(
        select(
            commandes.c.id,
            commandes.c.date_commande
        ).select_from(
            commandes
        ).where(commandes.c.date_commande.between(datetime(2025, 7, 1), datetime(2025, 9, 30, 23, 59, 59)))
    )

    for row in result:
        print(f"{row[0]}  -  {datetime.strftime(row[1], '%Y-%m-%d %H:%M:%S') :30s} ")

1  -  2025-07-07 12:30:00
2  -  2025-07-07 13:00:00
3  -  2025-07-08 19:45:00
4  -  2025-08-15 18:30:00
5  -  2025-09-01 20:00:00
6  -  2025-09-10 12:15:00

In [26]:
# 15. Afficher la commande la plus récente avec le nom du client et les plats commandés.

from sqlalchemy import desc 

with engine.begin() as conn:

    subq = (
        select(
            commandes.c.id,
            clients.c.nom.label('client_nom'),
            commandes.c.date_commande
        ).select_from(
            commandes.join(clients, clients.c.id == commandes.c.client_id)
        ).order_by(desc(commandes.c.date_commande)).limit(1).alias('subq')
    )

    result = conn.execute(
        select(
            commandes.c.id,
            plats.c.nom,
            subq.c.client_nom,
            subq.c.date_commande,
        ).select_from(
            plats.join(commande_plats, commande_plats.c.plat_id == plats.c.id)
            .join(commandes, commandes.c.id == commande_plats.c.commande_id)
            .join(subq, subq.c.id == commandes.c.id)
        )
    )

    for row in result:
        print(f"{row[0]}  -  {row[1] :20s}  -  {row[2] :20s}  -  {datetime.strftime(row[3], '%Y-%m-%d %H:%M:%S') :30s} ")



# 16. Afficher les clients ayant passé une commande d’un montant supérieur à 150, avec leur numéro de téléphone.
# 17. Afficher les plats dont le coût total des ingrédients est supérieur à 50% du prix du plat.
# 18. Ajouter un nouveau plat dans la catégorie "Végétarien" avec deux ingrédients.
# 19. Supprimer le client "Youssef El Khalfi", ses commandes, et ses avis.
# 20. Afficher pour chaque client :
#     - Son nom
#     - Le nombre total de plats commandés
#     - Le montant total dépensé
#     - La note moyenne de leurs avis
# 21. Lister les 3 plats les plus commandés (par quantité totale) avec leur catégorie.
# 22. Afficher les clients et leurs dernières commandes, incluant les plats commandés.
# 23. Créer une vue virtuelle (SELECT) qui affiche :
#     - Le nom du client
#     - Les plats commandés
#     - Les quantités
#     - La date de la commande
#     - La note moyenne du plat (via avis)
# 24. Afficher les fournisseurs dont les ingrédients sont en stock inférieur à 10 unités, avec le coût total des ingrédients en stock.

6  -  Coca-Cola             -  Omar Alaoui           -  2025-09-10 12:15:00
6  -  Glace 2 boules        -  Omar Alaoui           -  2025-09-10 12:15:00